bin*/
CMakeFiles/
pages/
test/
nbproject/private/
Makefile
CMakeCache.txt
CMakeUserPresets.json
CMakeSettings.json
*.cmake
*.layout
*.depend
*.exe
*.bin
*.cue
.dep.inc
build
dist
out
.vs
.vscode
.DS_Store