# GitHub Actions CI script for mkpsxiso
# (C) 2021 spicyjpeg

name: Build mkpsxiso
on:   [ push, pull_request ]

jobs:
  build-windows:
    name:    Build mkpsxiso on Windows
    runs-on: windows-latest

    steps:
    - name: Fetch repo contents
      uses: actions/checkout@main
      with:
        submodules: recursive

    - name: Build and package mkpsxiso
      run: |
        cmake --workflow ci

    - name: Upload build artifacts
      uses: actions/upload-artifact@main
      with:
        name: mkpsxiso-windows
        path: |
          build/packages/*
          !build/packages/_CPack_Packages

  build-linux:
    name:    Build mkpsxiso on Linux
    runs-on: ubuntu-latest

    steps:
    - name: Fetch repo contents
      uses: actions/checkout@main
      with:
        submodules: recursive

    - name: Build and package mkpsxiso
      run: |
        export CC=clang
        export CXX=clang++
        cmake --workflow ci

    - name: Upload build artifacts
      uses: actions/upload-artifact@main
      with:
        name: mkpsxiso-linux
        path: |
          build/packages/*
          !build/packages/_CPack_Packages

  build-macos:
    name:    Build mkpsxiso on macOS
    runs-on: macos-latest

    steps:
    - name: Fetch repo contents
      uses: actions/checkout@main
      with:
        submodules: recursive

    - name: Build and package mkpsxiso
      run: |
        cmake --workflow ci

    - name: Upload build artifacts
      uses: actions/upload-artifact@main
      with:
        name: mkpsxiso-macos
        path: |
          build/packages/*
          !build/packages/_CPack_Packages

  # This job takes care of creating a new release and upload the build
  # artifacts if the last commit is associated to a tag.
  create-release:
    name:    Create release
    runs-on: ubuntu-latest
    needs:   [ build-windows, build-linux, build-macos ]

    steps:
    - name: Fetch build artifacts
      if:   ${{ github.ref_type == 'tag' }}
      uses: actions/download-artifact@main

    - name: Publish release
      if:   ${{ github.ref_type == 'tag' }}
      uses: softprops/action-gh-release@master
      with:
        fail_on_unmatched_files: true
        #generate_release_notes:  true
        files: |
          mkpsxiso-windows/*
          mkpsxiso-linux/*
          mkpsxiso-macos/*
