# GitHub Actions CI script for mkpsxiso
# (C) 2021 spicyjpeg

name: Build mkpsxiso
on:   [ push, pull_request ]

jobs:
  build-windows:
    name:    Build mkpsxiso on Windows
    runs-on: windows-2022

    steps:
    - name: Fetch repo contents
      uses: actions/checkout@v4
      with:
        path: mkpsxiso
        submodules: recursive

    - name: Build and package mkpsxiso
      run: |
        cmake --preset ci -S mkpsxiso -G "Visual Studio 17 2022"
        cmake --build build --config Release -t package

    - name: Upload build artifacts
      uses: actions/upload-artifact@v4
      with:
        name: mkpsxiso-windows
        path: |
          build/packages/*
          !build/packages/_CPack_Packages

  build-linux:
    name:    Build mkpsxiso on Linux
    runs-on: ubuntu-latest

    steps:
    - name: Install prerequisites
      run: |
        sudo apt-get update -y
        sudo apt-get install -y --no-install-recommends build-essential ninja-build

    - name: Fetch repo contents
      uses: actions/checkout@v4
      with:
        path: mkpsxiso
        submodules: recursive

    - name: Build and package mkpsxiso
      run: |
        cmake --preset ci -S mkpsxiso
        cmake --build build --config Release -t package

    - name: Upload build artifacts
      uses: actions/upload-artifact@v4
      with:
        name: mkpsxiso-linux
        path: |
          build/packages/*
          !build/packages/_CPack_Packages

  # This job takes care of creating a new release and upload the build
  # artifacts if the last commit is associated to a tag.
  create-release:
    name:    Create release
    runs-on: ubuntu-latest
    needs:   [ build-windows, build-linux ]

    steps:
    - name: Fetch build artifacts
      if:   ${{ github.ref_type == 'tag' }}
      uses: actions/download-artifact@v4
      with:
        path: .

    - name: Publish release
      if:   ${{ github.ref_type == 'tag' }}
      uses: softprops/action-gh-release@v2
      with:
        fail_on_unmatched_files: true
        #generate_release_notes:  true
        files: |
          mkpsxiso-windows/*
          mkpsxiso-linux/*
